body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.fire:active {
    background: rgb(183, 69, 69);
    transform: scale(0.95);
}

.fire {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-select {
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

#fireText {
    color:black;
    font-size: 40px;
}

.joystick, .fire {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #ddd;
    border: 3px solid #aaa;
    position: relative;
    touch-action: none;
}

.stick {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #666;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}